/* spellchecker:disable */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/rgb.h>

// #define ZMK_MOUSE_DEFAULT_MOVE_VAL 800  // 600
// #define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10

&lt {
    flavor = "hold-preferred";
};

&sk {
    release-after-ms = <4000>;
    quick-release;
    lazy;
};

/ {
    chosen {
        zmk,charmap = &charmap_us;
    };
    behaviors {
        // mmv {
        //     acceleration-exponent = <0>;      // 1
        //     time-to-max-speed-ms = <900>;    // 40
        //     delay-ms = <0>;                   // 0
        // };
        // msc {
        //     acceleration-exponent = <1>;      // 0      
        //     time-to-max-speed-ms = <400>;      // 500
        //     delay-ms = <0>;                   // 10
        // };
        // lclk_rclk: lclk_rclk    { bindings = <&mkp LCLK>, <&mkp RCLK>; compatible = "zmk,behavior-tap-dance"; #binding-cells = <0>; };
        lsk: layer_sticky_key   { bindings = <&mo>, <&sk>;        compatible = "zmk,behavior-hold-tap"; #binding-cells = <2>; flavor = "hold-preferred"; tapping-term-ms = <200>; };
        lsl: layer_sticky_layer { bindings = <&mo>, <&sl>;        compatible = "zmk,behavior-hold-tap"; #binding-cells = <2>; flavor = "hold-preferred"; tapping-term-ms = <200>; };
        lmk: layer_mouse_key    { bindings = <&mo>, <&mkp>;       compatible = "zmk,behavior-hold-tap"; #binding-cells = <2>; flavor = "hold-preferred"; tapping-term-ms = <200>; };
        lcw: layer_caps_word    { bindings = <&mo>, <&caps_word>; compatible = "zmk,behavior-hold-tap"; #binding-cells = <2>; flavor = "hold-preferred"; tapping-term-ms = <200>; };
        hsk: hold_sticky_key    { bindings = <&kp>, <&sk>;        compatible = "zmk,behavior-hold-tap"; #binding-cells = <2>; flavor = "hold-preferred"; tapping-term-ms = <200>; };
        hsl: hold_sticky_layer  { bindings = <&kp>, <&sl>;        compatible = "zmk,behavior-hold-tap"; #binding-cells = <2>; flavor = "hold-preferred"; tapping-term-ms = <200>; };
        hmk: hold_mouse_key     { bindings = <&kp>, <&mkp>;       compatible = "zmk,behavior-hold-tap"; #binding-cells = <2>; flavor = "hold-preferred"; tapping-term-ms = <200>; };
        hcw: hold_caps_word     { bindings = <&kp>, <&caps_word>; compatible = "zmk,behavior-hold-tap"; #binding-cells = <2>; flavor = "hold-preferred"; tapping-term-ms = <200>; };
        m_lclk_lmove { compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>; bindings = <&mkp LCLK>, <&mmv MOVE_LEFT>; mods = <(MOD_LCTL)>; }
        m_mclk_dmove { compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>; bindings = <&mkp MCLK>, <&mmv MOVE_DOWN>; mods = <(MOD_LCTL)>; }
        m_rclk_rmove { compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>; bindings = <&mkp RCLK>, <&mmv MOVE_RIGHT>; mods = <(MOD_LCTL)>; }
        };
    };
    macros {
        win_sleep: win_sleep { wait-ms = <50>; tap-ms = <5>; compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&kp LG(X) &kp U &kp S>; };
    };
    keymap {
        compatible = "zmk,keymap";
        layer0 {
            display-name = "QWERTY";
            bindings = <
                 &kp Q            &kp W            &kp E            &kp R            &kp T                                                               &kp Y            &kp U            &kp I            &kp O            &kp P
                 &kp A            &kp S            &kp D            &kp F            &kp G                                                               &kp H            &kp J            &kp K            &kp L            &kp SEMI
                 &kp Z            &kp X            &kp C            &kp V            &kp B                                                               &kp N            &kp M            &kp COMMA        &kp DOT          &kp FSLH
                                                                    &lt 1 ESC        &lt 3 SPACE                                                         &kp SPACE        &lsk 2 LSHFT >;

        };
        layer1 {
            display-name = "NAVNUM";
            bindings = <
                 &hsk LALT LALT   &kp BSPC         &kp UP           &kp TAB          &kp DEL                                                             &kp INS          &kp N7           &kp N8           &kp N9           &kp LALT
                 &hsk LCTRL LCTRL &kp LEFT         &kp DOWN         &kp RIGHT        &kp PG_UP                                                           &kp HOME         &kp N4           &kp N5           &kp N6           &kp LCTRL
                 &hsk LSHFT LSHFT &hsk LGUI LGUI   &key_repeat      &kp ENTER        &kp PG_DN                                                           &kp END          &kp N1           &kp N2           &kp N3           &kp LSHFT
                                                                    &none            &none                                                               &hcw LSHFT CAPS  &kp N0 >;

        };
        layer2 {
            display-name = "SYMBOL";
            bindings = <
                 &kp EXCL         &kp AT           &kp POUND        &kp DLLR         &kp PRCNT                                                           &kp CARET        &kp AMPS         &kp ASTRK        &kp PIPE         &kp BSLH
                 &kp GRAVE        &kp LBKT         &kp LBRC         &kp LPAR         &kp C_BRI_UP                                                        &kp C_AC_BACK    &kp EQUAL        &kp SQT          &kp DQT          &kp COLON
                 &kp TILDE        &kp RBKT         &kp RBRC         &kp RPAR         &kp C_BRI_DN                                                        &kp C_AC_FORWARD &kp UNDER        &kp LT           &kp GT           &kp QMARK
                                                                    &kp MINUS        &kp PLUS                                                            &none            &none >;

        };
        layer3 {
            display-name = "FUNMSE";
            bindings = <
                 &hsk LALT LALT   &kp F9           &kp F8           &kp F7           &kp F12                                                             &kp C_MUTE       &msc SCRL_LEFT   &mmv MOVE_UP     &msc SCRL_RIGHT  &none
                 &hsk LCTRL LCTRL &kp F6           &kp F5           &kp F4           &kp F11                                                             &kp C_VOL_UP     &m_lclk_lmove    &m_mclk_dmove    &m_rclk_rmove    &none
                 &hsk LSHFT LSHFT &kp F3           &kp F2           &kp F1           &kp F10                                                             &kp C_VOL_DN     &kp C_PREV       &kp C_PLAY_PAUSE &kp C_NEXT       &none
                                                                    &none            &none                                                               &mo 4            &kp K_APP >;

        };
        layer4 {
            display-name = "CONFIG";
            bindings = <
                 &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4                                                        &rgb_ug RGB_SPI  &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_BRI  &rgb_ug RGB_EFR 
                 &bt BT_DISC 0    &bt BT_DISC 1    &bt BT_DISC 2    &bt BT_DISC 3    &bt BT_DISC 4                                                       &rgb_ug RGB_SPD  &rgb_ug RGB_HUD  &rgb_ug RGB_SAD  &rgb_ug RGB_BRD  &rgb_ug RGB_EFF 
                 &bt BT_CLR_ALL   &none            &none            &bt BT_CLR       &out OUT_TOG                                                        &rgb_ug RGB_TOG  &default_report  &none            &none            &studio_unlock
                                                                    &bootloader      &none                                                               &none            &bootloader >;

        };
    };
};
